.link {
  color: #fff
}
.link:hover {
  color: #fff
}


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.card.mt-5 {
  position: relative;
  overflow: hidden;
}
.card.mt-5:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 220%;
  background: rgba(193, 94, 249, 0.687);
  top: -50%;
  left: -100%;
  z-index: 1;
  transform: rotate(38deg);
  transform-origin: center top 0;
  transition: .5s;
}

.card.mt-5:hover:before{
  left: 34%;
}
/* .card.mt-5:hover:before{
  display: block;

  transition: 3s;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
